extends ../layout/main.pug

block content
    form(action=`/articles/${article.slug}`, method="post" enctype="application/x-www-form-urlencoded")
        input(type="hidden" name="_method" value="PUT")
        .form-group
            label.form-label Title
            input#title.form-control(
                type='text' 
                name='title' 
                aria-describedby='emailHelp'
                value=article.title
                read-only=true
            )
            #emailHelp.form-text We&apos;ll never share your email with anyone else.
        .form-group
            label Content
            textarea#content.form-control(rows='3' name='content')
                #{article.content}
        button.btn.btn-primary(type='submit') Update


block scripts
    script(src='/js/article.js')
    script(src="/js/private.js") 